<div class="about-container">
  <!-- Sidebar -->
  <aside class="sidebar">
<!--    <img src="https://drive.google.com/file/d/1ZkhSGSYFtMmf4uZc_xZgeIEEvmX7T0Fi/view?usp=drive_link" alt="Profilbild" class="profile-pic" />-->
    <img ngOptimizedImage src="assets/my-photo.jpg" alt="Profilbild" class="profile-pic" />
    <h2>Christian Drossel</h2>
    <h4>Software Engineer</h4>
    <ul class="info-list">
      <li><b>Birthday:</b> 07.01.1991</li>
      <li><b>Languages:</b> German, English</li>
      <li><b>Experience:</b> 4+ years</li>
      <li><a href="https://www.linkedin.com/in/christian-drossel" target="_blank">LinkedIn Profile</a></li>
    </ul>
<!--    <div class="hobbies">-->
<!--      <b>Hobbies:</b> Playing Piano, Sports (Calisthenics)-->
<!--    </div>-->
    <p class="about-text">
      I’m a passionate software developer with a knack for clean code, smart solutions, and new technologies. For me, programming isn’t just a job – it’s something I truly enjoy.

      When I’m not coding, you’ll probably find me either out in the garden or gaming at my computer. That mix of nature and tech is exactly my thing – and pretty much reflects who I am.

      Here, you’ll get a small glimpse into what drives me – both professionally and personally. Enjoy browsing around!
    </p>
  </aside>

  <!-- Main Content -->
  <section class="skills-section">
    <h3>Skills</h3>
    <table class="skills-table">
      <thead>
      <tr>
        <th>Capability</th>
<!--        <th>Familiar with</th>-->
<!--        <th>Proficient</th>-->
<!--        <th>Expert</th>-->
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><b>Programming Languages</b></td>
        <td>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kotlin/kotlin-original.svg" alt="Kotlin" />Kotlin</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="Java" />Java</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python" />Python</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" alt="C++" />C/C++</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript" />TypeScript</div>


          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="Docker" />Docker</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/googlecloud/googlecloud-original.svg" alt="Google Cloud" />Google Cloud</div>


          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sonarqube/sonarqube-original.svg" alt="SonarQube" />SonarQube</div>
        </td>
      </tr>
      <tr>
        <td><b>Backend Technologies & Frameworks</b></td>
        <td>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" alt="Spring Boot" />Spring Boot</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" alt="Spring Batch" />Spring Batch</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/apachekafka/apachekafka-original.svg" alt="Kafka" />Apache Kafka</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" alt="MongoDB" />MongoDB</div>
          <div class="skill-badge"><img src="https://i0.wp.com/mongock.io/wp-content/uploads/2021/12/cropped-logo-transparent-background.png?w=512&ssl=1" alt="mongock"/>Mongock</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/swagger/swagger-original.svg" alt="Swagger" />Swagger</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg" alt="Firebase" />Firebase</div>
        </td>
      </tr>
      <tr>
        <td><b>Frontend Technologies & Frameworks</b></td>
        <td>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angular/angular-original.svg" alt="Angular" />Angular</div>
          <div class="skill-badge"><i class="bi bi-window-sidebar"></i>DevExtreme</div>
          <div class="skill-badge"><img src="https://avatars.githubusercontent.com/u/1171922?s=200&v=4" alt="Vaadin" />Vaadin</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS" />CSS</div>
          <div class="skill-badge"><img src="https://avatars.githubusercontent.com/u/24717852?v=4" alt="ngx"/>ngx-translate</div>
        </td>
      </tr>
      <tr>
        <td><b>Testing & QA</b></td>
        <td>
          <div class="skill-badge"><img src="https://site.mockito.org/favicon.ico" alt="Mockito"/>Mockito</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mocha/mocha-original.svg" alt="Mocha"/>Mocha</div>
          <div class="skill-badge"><img src="https://www.chaijs.com/img/chai-logo-small.png" alt="Chai">Chai</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jasmine/jasmine-original.svg" />Jasmin</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/selenium/selenium-original.svg" alt="Selenium" />Selenium</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sonarqube/sonarqube-original.svg" alt="SonarQube" />SonarQube</div>
          <div class="skill-badge"><img src="https://www.archunit.org/favicon.ico" alt="ArchUnit"/>ArchUnit</div>
        </td>
      </tr>
      <tr>
        <td><b>Mobile & UI</b></td>
        <td>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="Java" />Java (Android)</div>
          <div class="skill-badge"><i class="bi bi-arrow-repeat"></i>Retrofit2</div>
          <div class="skill-badge"><i class="bi bi-person-bounding-box"></i>UCD (User Centered Design)</div><!--User Centered Design-->
        </td>
      </tr>
      <tr>
        <td><b>DevOps & Infrastructure</b></td>
        <td>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="Docker" />Docker</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/googlecloud/googlecloud-original.svg" alt="Google Cloud" />Google Cloud</div>
          <div class="skill-badge"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/helm/helm-original.svg" />Helm Chart</div>
        </td>
      </tr>
      <tr>
        <td><b>Processes & Collaboration</b></td>
        <td>
          <div class="skill-badge"><img src="https://www.svgrepo.com/show/373977/plantuml.svg" alt="PlantUML"/>PlantUML</div>
          <div class="skill-badge"><i class="bi bi-person-bounding-box"></i>UCD</div>


          <div class="skill-badge"><img src="https://cdn-icons-png.flaticon.com/512/4727/4727387.png" alt="Kanban"/>Kanban</div>
          <div class="skill-badge">
            <img src="https://cdn-icons-png.flaticon.com/512/11067/11067017.png" alt="Scrum" />
            Scrum
          </div>
          <div class="skill-badges-group">
            <div class="skill-badge">
              <img src="https://cdn-icons-png.flaticon.com/512/2910/2910890.png" alt="Design Thinking">
              Design Thinking
            </div>
            <div class="skill-badge">
              <i class="bi bi-diagram-3"></i>
              Domain-Driven Design (DDD)
            </div>
            <div class="skill-badge">
              <i class="bi bi-arrow-repeat"></i>
              CI/CD
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </section>
</div>
